.container-floats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.button-1{
    background-color: rgb(236, 65, 65);
    width: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    text-justify: auto;
    border-radius: 3px;
    color: antiquewhite;
    font-weight: bold;
  }
.container-float-card{
    flex: 1;
    width: 100%;
    height: auto;
    display:grid;
    align-content: center;
    align-items: center;
    max-width: 300px;
}
.image {
    width: 100%;
    margin-left: 25px;
    height: auto;
    display: block;
    
}
.p-1{
    width: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    text-justify: auto;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

.content {
    align-content: center;
    margin-top: 100px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: auto;
    overflow: hidden;
    border-radius: 8px; /* Optional: for rounded corners */
}

video {
    width: 100%;
    height: auto;
    display: block;
}
