body {
    margin: 0;
    font-family: sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.carousel-section {
    padding: 50px 0;
    background: lightgray;
    text-align: center;
}

.contain {
    position: relative;
    margin: 0 auto;
    width: 320px;
    perspective: 1200px;
}

.carousel {
    position: relative; /* Ensure it stays within its section */
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__face span {
    font-size: 2rem;
    color: white;
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

.section-3, .section-4 {
    padding: 50px 20px;
    background: white;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
